<a href="https://colab.research.google.com/github/femipraize/Chapter3/blob/master/GMC_CLASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d = 7
f = 2

print(d * f)

14

In [ ]:
input("what’s your name")

what’s your nameFemi

'Femi'

In [ ]:
print('hello world! \nhello world! \nhello world! \n')

hello world!
hello world!
hello world!

In [ ]:
print('I amd ' + 'Femi')

I amd Femi

In [ ]:
print("age of bola is", 90)

age of bola is 90

In [ ]:
input("Enter Your Age:")

Enter Your Age:20

'20'

In [ ]:
print("Day 1 - String Manipulation")
print("String Concatenation is done with the "+" sign.")
print('e.g. print("Hello " + "world")')
print("New lines can be created with a backslash and n.")

Day 1 - String Manipulation
String Concatenation is done with the  sign.
e.g. print("Hello " + "world")
New lines can be created with a backslash and n.

In [ ]:
F = input("Welcome to Gomycode\nEnter yout First name: ")
L =input('Enter your Surname: ')
Email = input('Enter your email: ')
Age = input('Enter your age: ')
print('Congratulation! Your Profile is complete')
print(F,L,Email,Age)

Welcome to Gomycode
Enter yout First name: Femi
Enter your Surname: Ogbangwor
Enter your email: jjjj
Enter your age: 10
Congratulation! Your Profile is complete
Femi Ogbangwor jjjj 10

**CONDITIONAL STATEMENT**

**If , else condition :**

In [ ]:
num =3
if num > 0:
	print(num, "is a positive number.")
	print("This is always printed.")

3 is a positive number.
This is always printed.

**Nested if statements and elif statements :**

In [ ]:
x=11
if x==1:
      print('X is equal to 1')
elif x==5:
      print('X is equal to 5')
elif x==10:
      print('X is equal to 10')
else:
      print('X =', x)

X = 11

In [ ]:
order_total = 150
customer_membership = True

if order_total >= 100 and customer_membership == True:
    print("Discount applied.")
else:
    print("Discount not applied.")

Discount applied.

In [ ]:
order_total = 25
customer_location = "USA"

if order_total >= 50 or customer_location == "USA":
    print("Free shipping applied.")
else:
    print("Shipping fee applied.")

Free shipping applied.

In [ ]:
is_member = True

if not is_member:
    print("Customer is not a member.")
else:
    print("Customer is a member.")

Customer is a member.

In [ ]:
number = int(input('Enter number'))
if number%2 == 0 and number < 10:
      print("Number is even and not greater than 10")
elif number%2 == 0 and number > 10:
      print("Number is even tand greater than 10")
# elif number%2 == 0 or number > 10:
#       print("Number is also even")
elif number%2 == 1:
      print("Number is odd")
else:
    print('i')

Enter number6
Number is even and not greater than 10

In [ ]:
status = input('Enter the status of wheather. E.g Rain or shiny') #input

#conditional statement
if status == 'Rain':
  print('I will not go to church')
else:
  print('I will go to churcn')

Enter the status of wheather. E.g Rain or shiny shiny
I will go to churcn

In [ ]:
order =input('Is food ready?: ')
if order == 'is ready':
  print('Food will be served soon')
else:
  print("your food won't be served soon")

Is food ready?: is ready
Food will be served soon

In [ ]:
False and False

False

**Number manipulation :**

In [ ]:
print(round(8/3))

3

In [ ]:
Result = 4/2
Result /=2
print(Result)

1.0

**String manipulation **

In [ ]:
Score = 15
print(f"Your score is {Score}")

Your score is 15

**Instructions :**
Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old.
It will take your current age as the input and output a message with our time left in this format :

You have x days, y weeks, and z months left.
Where x, y and z are replaced with the actual calculated numbers.
Example Input :
56
Example Output:
You have 12410 days, 1768 weeks, and 408 months left.

In [ ]:
current_age = int(input('Enter Current Age: '))
maxAge =90 -current_age
year =365
week = 52
month = 12
number_of_days_left = maxAge * year
number_of_weeks_left = maxAge * week
number_of_months_left = maxAge * month
print(f" You have {number_of_days_left} days, {number_of_weeks_left} weeks left and {number_of_months_left} months left")

Enter Current Age: 90
 You have 0 days, 0 weeks left and 0 months left

As a pythoneer or pythonista, create a python program that gives the grade of a person. E.g if a person gets above 70%, print 'You got A', if a person gets between 60% and 69%, print 'You got B',
 if a person gets between 50% and 59%, print 'You got C',
 if a person gets between 45% and 49%, print 'You got D',
 if a person gets between 40% and 44%, print 'You got E',
 if a person gets between 0% and 39%, print 'You got F',
everything else should be printed as invalid. Use the input function to get the number from the user and wrap with float.

In [ ]:

student_grade = float(input('Enter Score: '))
if student_grade >= 70 and  student_grade <= 100:
  print('Your Got A')
elif student_grade >= 60 and student_grade < 70:
  print('Your Got B')
elif student_grade >= 50 and student_grade < 60:
  print('Your Got C')
elif student_grade >= 45 and student_grade < 50:
  print('You Got D')
elif student_grade >= 40 and student_grade < 45:
  print('You Got F')
elif student_grade >= 0 and student_grade < 40:
  print('You Got F')
else:
  print('not within range')

Enter Score: 19000
not within range

Python **statements**

Multiline statement

In [ ]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
print(a)

45

In [ ]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
print(a)

45

In [ ]:
colors = ['red',
          'blue',
          'green']

print(colors)

['red', 'blue', 'green']

In [ ]:
a = 1; b = 2; c = 3

**Indentation in Python**

1
2
3
4
5
6
7
8
9
10

In [ ]:
9 // 2

4

**Python Primitive Data Types**

In [ ]:
my_string = "Welcome to python"
print(my_string)
print("my_string[0] = ", my_string[0])  #first character                my_string[0] =  W
print("my_string[-1] = ", my_string[-1]) #last character               my_string[-1] =  n

Welcome to python
my_string[0] =  W
my_string[-1] =  n

In [ ]:
print("my_string[1:5] = ", my_string[1:5])  #slicing 2nd to 5th character                 my_string[1:5] =  elco
print("my_string[5:-2] = ", my_string[5:-2])   #slicing 6th to 2nd last character

my_string[1:5] =  elco
my_string[5:-2] =  me to pyth

In [ ]:
#Step wise slicing
new_string = 'I Am Happy'
new_string[0:17:2]

'IA ap'

In [ ]:
#reverse Slicing
new_string[::-2]

'ypHm '

**String Operations**

In [ ]:
str1 = "Welcome to "
str2 ="coding world!"
print("str1 + str2 = ", str1 + str2)     #str1 + str2 =  Welcome to coding world!

str1 + str2 =  Welcome to coding world!

In [ ]:
my_string = "welcome to python"
print(len(my_string))     #17

# How do i get typelenth

17

**Integers :**

In [ ]:
my_integer = 1,2,3
print(my_integer )

(1, 2, 3)

Floats :
**bold text**

In [ ]:
My_floats  = 1.256234
print(My_floats)

1.256234

**Booleans :**

In [ ]:
x = True
y = False
y = 10 > 9
x = 10 < 9
print(f"y is {y} and x is {y}")

y is True and x is True

In [ ]:
print((2>5) == (6>2))

False

In [ ]:
string2 = "123456"
print(len(string2))

6

**Type Conversion**

In [ ]:
float(5) #conversion from integer to float
float("2.5") #conversion from string to float
str(25) #conversion from integer to string
#int("2z") #conversion impossible, string must contain compatible values

'25'

Instructions :
Write a program that adds the digits in a 2 digit number. e.g. if the input was 35, then the output should be 3 + 5 = 8
**Example Input : **

39

** Example Output**

3 + 9 = 12

Hint

Try to find out the data type of two_digit_number.
Think about what you learnt about subscripting.
Think about type conversion.

In [ ]:
#two_digit_number = input('Enter number: ')
#print(int(two_digit_number[0])+ two_digit_number[1]+ two_digit_number[2])


# if len(two_digit_number) == 2:
#   print(int(two_digit_number[0])+ two_digit_number[1])
# elif len(two_digit_number) == 3:
#   print(int(two_digit_number[0])+ two_digit_number[1])



 # print('The datatype is ',type())

In [ ]:
type(Result1+Result2)

int

**Check_Point_Task**

In [ ]:
# Define pizza prices and add-ons
small_pizza= 15
medium_pizza= 20
large_pizza= 25
Add_Pepperoni_for_Small_Pizza = 2
Add_Pepperoni_for_Medium_or_Large_Pizza = 3
Extra_Cheese = 1

#Welcome message
print('Welcome to Python Pizza Deliveries')

# Input from the user
size = input('What size of pizza would you like? (S, M, L): ').upper()
add_pepperoni = input('Would you like to add pepperoni? (Y or N): ').upper()
extra_cheese= input('Would you like extra cheese? (Y or N): ').upper()


#Conditions to print final bill
if size == 'S' and add_pepperoni == 'N' and extra_cheese == 'N':
  print(f'Your final bill is: ${small_pizza}')
elif size == 'S'and add_pepperoni == 'Y' and extra_cheese == 'N':
  print(f'Your final bill is: ${small_pizza+Add_Pepperoni_for_Small_Pizza}')
elif size == 'S'and add_pepperoni == 'N' and extra_cheese == 'Y':
  print(f'Your final bill is: ${small_pizza+ Extra_Cheese}')
elif size == 'S'and add_pepperoni == 'Y' and extra_cheese == 'Y':
  print(f'Your final bill is: ${small_pizza+Add_Pepperoni_for_Small_Pizza+ Extra_Cheese}')
elif size == 'L'and add_pepperoni == 'Y' and extra_cheese == 'Y':
  print(f'Your final bill is: ${large_pizza+Add_Pepperoni_for_Medium_or_Large_Pizza+ Extra_Cheese}')
elif size == 'L'and add_pepperoni == 'Y' and extra_cheese == 'N':
  print(f'Your final bill is: ${large_pizza+Add_Pepperoni_for_Medium_or_Large_Pizza}')
elif size == 'L'and add_pepperoni == 'N' and extra_cheese == 'Y':
  print(f'Your final bill is: ${large_pizza+ Extra_Cheese}')
elif size == 'L'and add_pepperoni == 'N' and extra_cheese == 'N':
  print(f'Your final bill is: ${large_pizza}')
elif size == 'M'and add_pepperoni == 'Y' and extra_cheese == 'Y':
  print(f'Your final bill is: ${medium_pizza+Add_Pepperoni_for_Small_Pizza+ Extra_Cheese}')
elif size == 'M'and add_pepperoni == 'Y' and extra_cheese == 'N':
  print(f'Your final bill is: ${medium_pizza+Add_Pepperoni_for_Medium_or_Large_Pizza}')
elif size == 'M'and add_pepperoni == 'N' and extra_cheese == 'Y':
  print(f'Your final bill is: ${medium_pizza+ Extra_Cheese}')
elif size == 'M'and add_pepperoni == 'N' and extra_cheese == 'N':
  print(f'Your final bill is: ${medium_pizza}')
else:
 #default statement for Out of range conditions
  print('Order not within Range, Please Select order within range.')

Welcome to Python Pizza Deliveries
What size of pizza would you like? (S, M, L): m
Would you like to add pepperoni? (Y or N): y
Would you like extra cheese? (Y or N): n
Your final bill is: $23

In [ ]:
# Define pizza prices and add-ons
pizza_prices = {'S': 15, 'M': 20, 'L': 25}
pepperoni_prices = {'S': 2, 'M': 3, 'L': 3}
extra_cheese_price = 1

# Input from the user
print('Welcome to Python Pizza Deliveries')
size = input('What size of pizza would you like? (S, M, L): ').upper()
add_pepperoni = input('Would you like to add pepperoni? (Y or N): ').upper()
extra_cheese = input('Would you like extra cheese? (Y or N): ').upper()

# Calculate the final bill
final_bill = pizza_prices[size]
if add_pepperoni == 'Y':
    final_bill += pepperoni_prices[size]
if extra_cheese == 'Y':
    final_bill += extra_cheese_price

# Print the final bill
print(f'Your final bill is: ${final_bill}')

Welcome to Python Pizza Deliveries
What size of pizza would you like? (S, M, L): S
Would you like to add pepperoni? (Y or N): Y
Would you like extra cheese? (Y or N): Y
Your final bill is: $18

**LIST**

In [ ]:
my_list = [] # empty list
my_list = [1, 2, 3] # list of integers
my_list = [1, "Hello", 3.4]  # list with mixed datatypes
my_list = ["python", "java", "SQL", "C++"] # list of strings

**How to manipulate lists**

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
#Accessing items:
#You access the list items by referring to the index number

print(my_list[1])    #refers to the secod item         "java"
#Negative Indexing
print(my_list[-1]) #refers to the last item           "html"
#Slicing
print(my_list[2:5])     #extraction from the third to the fifth item       ['SQL', 'R', 'SAS']

#Add Items

#To add an item to the end of the list, use the append() method:

my_list.append("Matlab")       #add "Matlab" at the end of the list
print(my_list)      # ['python', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
#To add an item at the specified index, use the insert() method:

my_list.insert(1,"Spark")      #add "Spark" in the second position
print(my_list)       #['python', 'Spark', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
#Get list length

print(len(my_list))      #8


#Change Item Value

my_list[1]="Scala"     #change the second item(spark) by "Scala"
print(my_list)       #['python', 'Scala', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
#Remove Items
#We use the remove() method to remove a specified item.

my_list.remove("java")    #remove the item "java"
print(my_list)       #['python', 'Scala', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
#We use the del keyword to removes a specified index.

del my_list[0]      #remove the item with 0 index (python)
print(my_list)      #['Scala', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']

java
html
['SQL', 'R', 'SAS']
['python', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
['python', 'Spark', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
10
['python', 'Scala', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
['python', 'Scala', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']
['Scala', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']

**Class_Task**

Write a python program that gets the full name and age of a user. if the first character of the user's fullname is 'O',
print 'Popular Name', else print 'Not a popular name'.
Also, if the age of the user is greater than 18, print 'Allowed' else print 'Not allowed'.
Ensure that you created two empty lists such that you can append the results of the name and age in each of them.

In [ ]:
name_list = []
age_list = []

In [ ]:

full_name= input('Enter your full name: ').upper()
age = int(input('Enter your age: '))
if full_name[0] == 'O':
  print('Popular Name')
else:
  print( 'Not a popular name')
if age >= 18:
  print('Allowed')
else:
  print('Not allowed')

name_list.append(full_name)
age_list.append(age)

print(name_list)
print(age_list)

Enter your full name: ooa
Enter your age: 29
Popular Name
Allowed
['OGB ', 'OOA ']
[17, 29]

**Dictionary**

In [ ]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}

In [ ]:
for key in my_dictionary.keys():    # Loop Through dictionary keys
   print(key)
for value in my_dictionary.values():    #  Loop Through dictionary values
   print(value)
for item in my_dictionary.items():     # Loop Through dictionary items
   print(item)

#Get dictionary Length

print(len(my_dictionary))     #3
#How to manipulate dictionary
#Adding Items

my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}
my_dictionary["learn"] = True  #add True value with "learn" key
print(my_dictionary)       #{'knowledge': 'Data Science', 'tool': 'python', 'year': 2020, 'learn': True}
#Removing Items

my_dictionary.pop("tool")     #remove "tool" item
print(my_dictionary)    # {'knowledge': 'Data Science', 'year': 2020, 'learn': True}
#Deleting the whole dictionary

del my_dictionary

knowledge
tool
year
Data Science
python
2020
('knowledge', 'Data Science')
('tool', 'python')
('year', 2020)
3
{'knowledge': 'Data Science', 'tool': 'python', 'year': 2020, 'learn': True}
{'knowledge': 'Data Science', 'year': 2020, 'learn': True}

In [ ]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}

In [ ]:
my_dictionary.update({'masters': 'Business Analytics'})

In [ ]:
my_dictionary

{'knowledge': 'Data Science',
 'tool': 'python',
 'year': 2020,
 'masters': 'Business Analytics'}

**SET**

In [ ]:
my_set = {"python", "java", "R"}
my_set.add("scala")    #add "scala" to the set
print(my_set)    #{'scala', 'python', 'java', 'R'}

{'java', 'scala', 'python', 'R'}

In [ ]:
my_set.remove("R")    #remove "R" item
print(my_set)    #{'scala', 'python', 'java'}

{'java', 'scala', 'python'}

In [ ]:
del my_set

**Tuple**

In [ ]:
my_tuple=("python", "java", "R")
print(my_tuple[0])

python

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2     #join the two tuples by + operator
print(tuple3)     #('a', 'b', 'c', 1, 2, 3)

('a', 'b', 'c', 1, 2, 3)

**Instructions :**
**Tuples:**

Create a tuple called "person" that contains a string "John" as a name, 25 as an age and "male" as a gender.
Print the name of the person
Try to change the age of the person and see what happens.
Lists:
Create a list called "grocery_list" that contains "milk", "bread", "eggs", "bananas"
Print the first item in the grocery_list.
Add "chocolate" to the grocery_list
Remove "milk" from the grocery_list
Sets:
Create a set called "unique_numbers" that contains the integers 1, 2, 3, 4, 5
Add number 6 to the unique_numbers
Print the length of the unique_numbers
Try to add a duplicate number and see what happens
Dictionaries:
Create a dictionary called "employee" that contains the keys "name", "age", "position" and "salary", with their corresponding values "John", 25, "Developer" and 3000 respectively.
Print the employee's name
Change the employee's position to "Manager"
Add a new key "email" with the value "john@example.com" to the employee dictionary

In [ ]:
person =('Jonh',25, 'male',)
print(person)

('Jonh', 25, 'male')

In [ ]:
grocery_list = ['milk', 'bread', 'eggs','bananas']
print(grocery_list)
print(grocery_list[0])
grocery_list.append('chocolate')
grocery_list.remove('milk')
print(grocery_list)

['milk', 'bread', 'eggs', 'bananas']
milk
['bread', 'eggs', 'bananas', 'chocolate']

In [ ]:
unique_numbers = {1,2,3,4,5}
unique_numbers.add(6)
print(unique_numbers)
print('Lenght of unique numbers is: ', len(unique_numbers))
unique_numbers.add(5) #adding a duplicate number to the dictionary(set)

{1, 2, 3, 4, 5, 6}
Lenght of unique numbers is:  6

In [ ]:

#creating a dictionary
employee = {'name': 'Jonh','age': 25,'position': 'Developer','salary': 3000 }
print(employee['name'])
employee.update({'position':'Manager'})
employee

employee.update({'email':'john@example.com'})
employee

Jonh

{'name': 'Jonh',
 'age': 25,
 'position': 'Manager',
 'salary': 3000,
 'email': 'john@example.com'}

**randomization and loops**

In [ ]:
import random
Random_integer = random.randint(1,10)
print(Random_integer)

2

In [ ]:
random.choice(['H','T','Head','Tail'])

'Tail'

In [ ]:
random.randrange(1,20,2)

5

In [ ]:
random.randrange(0, 20)

17

Task to do random

**For loop :**

In [ ]:
fruits = ['apple','peach','pear']
for fruit in fruits :
	print(fruit)

apple
peach
pear
1

In [ ]:
students = ['femi', 'Idris', 'Ikenna', 'Demiji','Cynthia']
for student in students:
  for char in student:
    print(char)
    print('--')
    print (student)

f
--
femi
e
--
femi
m
--
femi
i
--
femi
I
--
Idris
d
--
Idris
r
--
Idris
i
--
Idris
s
--
Idris
I
--
Ikenna
k
--
Ikenna
e
--
Ikenna
n
--
Ikenna
n
--
Ikenna
a
--
Ikenna
D
--
Demiji
e
--
Demiji
m
--
Demiji
i
--
Demiji
j
--
Demiji
i
--
Demiji
C
--
Cynthia
y
--
Cynthia
n
--
Cynthia
t
--
Cynthia
h
--
Cynthia
i
--
Cynthia
a
--
Cynthia

In [ ]:
for value in range(1,11):
  print(value)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(6,15):
  print(i)

6
7
8
9
10
11
12
13
14

In [ ]:
for b in range(1,15,3):
  print(b)

1
4
7
10
13

In [ ]:
student_scores = [78, 65, 89, 86, 55, 91, 64, 89]
highest_score = 0
for score in student_scores:
  if score > highest_score:
    highest_score = score
print(highest_score)

91

In [ ]:
sorted(student_scores) [-1]

91

In [ ]:
sorted(student_scores) [0]

55

In [ ]:
namelist = ['Femi', 'Thomos', 'Fuad', 'Taiwo', 'Tunde']
for name in namelist:
  print(name, end=' ')

Femi Thomos Fuad Taiwo Tunde

In [ ]:
for outter_loop in range(5):
  for inner_loop in range(1,6):
    print(inner_loop, end='')
  print()

12345
12345
12345
12345
12345

In [ ]:
rows = int(input('Enter the number of rows: '))
columns = int(input('Enter the number of colum: '))
symbol = input('Enter the type of symbols to make up you square')
for num_rolls in range(rows):
  for num_cols in range(columns):
    print(symbol, end='')
  print()

Enter the number of rows: 5
Enter the number of colum: 5
Enter the type of symbols to make up you square6
66666
66666
66666
66666
66666

1. Initialize variables:
   - year, month (input from user)
   - daysInMonth (to store number of days in the month)
   - firstDayOfWeek (to store the day of the week for the first day of the month)

2. Get input from the user:
   Display "Enter the year:"
   Read year from user
   Display "Enter the month (1-12):"
   Read month from user

3. Validate input:
   Check if year is a valid number and month is between 1 and 12
   If input is invalid, display error message and exit

4. Determine the number of days in the month:
   If month is February
       If year is leap year
           Set daysInMonth to 29
       Else
           Set daysInMonth to 28
   Else if month has 31 days
       Set daysInMonth to 31
   Else
       Set daysInMonth to 30

5. Determine the day of the week for the first day of the month:
   Use a formula or lookup table based on the year and month to find the day of the week for the first day

6. Display the calendar:
   Display the month and year
   Display the days of the week (Sun, Mon, Tue, etc.)
   Display empty spaces for days before the first day of the month
   Start counting from 1 to daysInMonth, displaying each day in the correct position under the corresponding day of the week
   Add empty spaces after the last day of the month to complete the calendar layout

7. End program

In [ ]:
year = int(input('Enter the Year: '))
#array to store number of days in each month
daysInMonth =[]
#array to store day of the week for the first day of each month
firstDayOfWeek =[]

Enter the Year: 3

Python While loops :

In [ ]:
count = 1
while count <= 10:
  print(count)
  count += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
count = 1
emp =[]
while count <=5:
  name = input('Enter your name: ')
  emp.append(name)
  count += 1

Enter your name: Femi
Enter your name: zeez
Enter your name: Jacob
Enter your name: Idris
Enter your name: DEji

In [ ]:
count = 1
emp = []
while True:
  name = input('Enter your name: ')
  emp.append(name)
  if count >= 5:
    break
  count += 1

Enter your name: Femi
Enter your name: Azeezat
Enter your name: Ab
Enter your name: Dami
Enter your name: Cynthia

In [ ]:
while True:
  user_input = input("Enter a number (or 'q' to quit): ")
  if user_input == 'q':
    break
  else:
    number = int(user_input)
    print("The square of", number, "is", number*number)

Enter a number (or 'q' to quit): q

Instructions :
Write a program that will repeatedly ask the user for a number until the user enters a number that is greater than 100.

Hint

you will need to use a while loop and a variable to keep track of the user's input.

In [ ]:
while True:
  user_number = int(input('Enter any number less than 100 or enter a number greater than 100 to quit '))
  if user_number > 100:
    break
  else:
    print(user_number)

Enter any number less than 100 or enter a number greater than 100 to quit 79
79
Enter any number less than 100 or enter a number greater than 100 to quit 99
99
Enter any number less than 100 or enter a number greater than 100 to quit 888

How to create your function?

In [ ]:
def function_name():
      # set of tasks
     print("Hello World, this is my first function")
# end of function

In [ ]:
function_name()

Hello World, this is my first function

In [ ]:
def checking():
  #checking the first letter of your name
  name = input('enter your full name: ')
  result = name.split(' ')[0]
  print(result)

In [ ]:
checking()

enter your full name: Femi Ogbangwor
Femi

In [ ]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function("to code!")  #it returns "I want to learn to code!"
my_function("to do AI!")  #it returns "I want to learn to do AI!"

I want to learn to code!
I want to learn to do AI!

Function with multiple parameters

In [ ]:
def Rectangle(length, breath):
  area = length * breath
  perimeter = 2 * (length + breath)
  return area, perimeter

In [ ]:
my_area , my_perimeter = Rectangle(5,10)

In [ ]:
def operation(x,y,z):
      print((x+y)*z)
operation(5,3,2) #16
operation(5,2,3) #21
operation(x =5, y =3, z =2)

16
21
16

Function Default Parameter

In [ ]:
def my_function(country="Tunisia"):
    print("I am from "+country)
my_function("Maroc")
my_function("Algeria")
my_function()

I am from Maroc
I am from Algeria
I am from Tunisia

The return statement

In [ ]:
def minimum(a,b):
    if a<b:
      return(a)
    else:
        return(b)
minimum(10,2) # this is not possible without return

2

Lambda Function

In [ ]:
sum = lambda a,b,c : a+b+c
print(sum(2,6,3)) #11

11

In [ ]:
year = lambda ch : ch[:4]
ch = "20200310"
print(year(ch)) #2020

2020

Create a function that takes in an integer and sums up each number in the integer e.g 235 = 2+3+5 =10

In [ ]:

def summing_numbers(number):
  number = str(number)
  b=0
  for i in number:
   a=int(i)
   b=a+b
  print(b)

In [ ]:
summing_numbers(1234)

10

In [ ]:
sum =0
user_input = input('Enter a number:')
new_d = list(user_input)
while True:
  if

In [ ]:
# Get input from the user

Enter numbers separated by spaces: 1231
Sum of numbers: 1231

In [ ]:
def user_name(user_name):
  names =''
  for name in user_name:
    random
  print(name)

In [ ]:
user_name('Femi')

NameError: name 'random' is not defined

In [ ]:
#write a python program to find those numbers which are divisle by 7 and multiples of 5 between 1500 and 2700 (both include).
find_num = int(input('enter number'))
num = find_num%7
if num == 0:
  print('number is divisible by 7')
else:
  print('number is not divisible by 7')

enter number7
number is divisible by 7

In [ ]:
stars = 6
for star in range(0,stars):
  print('*' * stars)
  num += 1

******
******
******
******
******
******

In [ ]:


star1 = int(input('Enter number of stars: '))
star2 = int(input('Enter the number of stars: '))
symbol = input('Enter a symbol')
for star in  range(star1):
  for star in range(star2):
    print(symbol, end='')
print()

In [ ]:
num = 5
for i in range(0, num+1):
  print('*'* i)
for i in range(num-1,0,-1):
  print('*'* i)

*
**
***
****
*****
****
***
**
*

In [ ]:
user_input = input('Enter user number: ')
sum =0
for num in user_input:
  sum = sum + int(num)
print(sum)

Enter user number: 234
9

In [ ]:
def get_largest_numbers(numbers, n):
  numbers.sort()

  return numbers[-n:]
nums = [2,3,4,1.34,123,321,1]
print(nums)
largest = get_largest_numbers(nums, 2)
print(nums)

[2, 3, 4, 1.34, 123, 321, 1]
[1, 1.34, 2, 3, 4, 123, 321]

In [ ]:
x = [i for i in range(10)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x =[[] for i in range(10)]
print(x)

[[], [], [], [], [], [], [], [], [], []]

In [ ]:
x = [[j for j in range(5)] for i in range(10)]
print(x)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
x = [i for i in range(10) if i %2 ==0]
print(x)

[0, 2, 4, 6, 8]

In [ ]:
def complicated_function(x,y, z=10):
  print(x,y,z)
  pass

In [ ]:
complicated_function(1,2)

1 2 10

In [ ]:
# adding *args means you can add as many number of positional arguments as posible
def complicated_function(x,y, *args):
  print(x,y,args)
  pass

In [ ]:
complicated_function(1,23,4,6,75,10)

1 23 (4, 6, 75, 10)

In [ ]:
# using as many keywords argument
def complicated_function(*args, **kwargs):
  print(args, kwargs)
  pass

In [ ]:
complicated_function(1,2,3,4, x= 5, s='hello', b= False)

(1, 2, 3, 4) {'x': 5, 's': 'hello', 'b': False}

In [ ]:
values =[]
for x in range(10):
  values.append(x)
print(values)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Using List comprehension
values = [x for x in range(10)]
print(values)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Using List comprehension
values = [x + 1 for x in range(10)]
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Comprehension Condition
#Get all of the even numbers from -50
evens =[]
for number in range(50):
  is_even = number % 2 == 0
  if is_even:
    evens.append(number)
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
evens = [number for number in range(50) if number % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
# strings that start with 'a' and end in 'y'
options =['any', 'albany', 'apple', 'world', 'hello','']
valid_strings = []
for string in options:
  if len(string) <= 1:
    continue

  if string[0] != 'a':
    continue

  if string[-1] != 'y':
    continue

  valid_strings.append(string)

print(valid_strings)

['any', 'albany']

In [ ]:
#Comprehension with multiple condition
options =['any', 'albany', 'apple', 'world', 'hello','']
valid_strings = [
    string
    for string in options
    if len(string) >= 2
    if string[0] == 'a'
    if string[-1] == 'y'
]
print(valid_strings)

['any', 'albany']

In [ ]:
#Flattening a matrix (list of list)
matrix = [[1,2,3], [4,5,6], [7,8,9]]
flattened = []

for row in matrix:
  for num in row:
    flattened.append(num)
    print(num, end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
#Multiple list comprehension
#Nexted list comprehension
flattened = [num for row in matrix for num in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Categorise number as even or odd
categories = []

for number in range(10):
  if number % 2 == 0:
    categories.append('Even')
  else:
    categories.append('Odd')

print(categories)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
# If/Else in a Comprehension
categories = [
    'even' if  x % 2 == 0 else 'Odd' for x in range(10)
]

print(categories)

['even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd']

In [ ]:

# build a 3D list

import pprint

printer =pprint.PrettyPrinter()

lst = []

for a in range(5):
    l1 =[]
    for b in range(5):
        l2 = []
        for num in range(5):
            l2.append(num)
        l1.append(l2)

    lst.append (l1)

printer.pprint(lst)

[[[0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4]],
 [[0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4]],
 [[0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4]],
 [[0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4]],
 [[0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4],
  [0, 1, 2, 3, 4]]]

In [ ]:
#Nexted List Comprehension
lst =[[[num for num in range(6)] for _ in range(6)] for _ in range(6)]

printer.pprint(lst)

[[[0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5]],
 [[0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5]],
 [[0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5]],
 [[0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5]],
 [[0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5]],
 [[0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5],
  [0, 1, 2, 3, 4, 5]]]

In [20]:
#Creating a shopping list

shopping_list = []
while True:
  user_selection = input('Enter your selection e.g Add, Remove, View or Exit: ')
  if user_selection == 'Add':
    for item in range(5):
      items = input('What item would you like to add to your shopping list? or Type Exit to stop Adding: ')
      if items == 'Exit':
        break
      shopping_list.append(items)
  elif user_selection == 'Remove':
    items = input('What item would you like to remove?: ')
    shopping_list.remove(items)
  elif user_selection == 'View':
    print(shopping_list)
  elif user_selection == 'Exit':
    print('Thank You')
    break
  else:
    print('Please make i proper selelction')

Enter your selection e.g Add, Remove, View or Exit: Add
What item would you like to add to your shopping list? or Type Exit to stop Adding: A
What item would you like to add to your shopping list? or Type Exit to stop Adding: B
What item would you like to add to your shopping list? or Type Exit to stop Adding: C
What item would you like to add to your shopping list? or Type Exit to stop Adding: Exit
Enter your selection e.g Add, Remove, View or Exit: Remove
What item would you like to remove?: A
Enter your selection e.g Add, Remove, View or Exit: View
['B', 'C']
Enter your selection e.g Add, Remove, View or Exit: Exit
Thank You

In [ ]:
name = input('Please enter your name: ')
age = int(input('please enter your age: '))

while name =="":
   name = input('Please enter your name: ')
else:
    print(f"Your name is {name}")
while age <= 0:
  age = int(input('please enter your age: '))
else:
  print(f"Your age is: {age}")
print()
print(f"your name is: {name} and your age is: {age}. Its a pleasure meeting you")

Please enter your name: famo
please enter your age: 7
Your name is famo
Your age is: 7

your name is: famo and your age is: 7. Its a pleasure meeting you

In [ ]:
food = input("enter a food you like: (Quit with letter q)")

while not food == "q":
  print(f"You like {food}")
  food = input("enter a food you like: (Quit with letter q)")
else:
  print("Okay, bye")

enter a food you like: (Quit with letter q)Rice
You like Rice
enter a food you like: (Quit with letter q)Eba
You like Eba
enter a food you like: (Quit with letter q)q
Okay, bye

In [ ]:
num = int(input("Enter a number between 1 and 10"))

while num <1 or num > 10:
  print(f"{num} is not valid, enter a valid number")
  num = int(input("Enter a number between 1 and 10"))

print()
print(num)

Enter a number between 1 and 109

9

1. As a python programmer in a company, develop a programthat
counts the letters in the first name of people. If the length of the nameisgreater than or equal to 10, print ‘your name is more than 10 letters’, else if the name is between 5 and 10 words print ‘your name is not solong’, else if the name is less than 5 print ‘the name is too short’.

In [ ]:
letter_count = input("Enter name")
if len(letter_count) >= 10:
  print("your name is more than 10 letters")
elif len(letter_count) > 5 and len(letter_count)  < 10:
  print("your name is not solong")
elif len(letter_count) < 5:
  print("the name is too short")

Enter namefemi
the name is too short

2. Write a simple function to determine the area of a circle. Use thepi inmath module.

In [ ]:
import math

In [ ]:

def area(radius):
  area = math.pi *radius**2
  print(area)

In [ ]:

area(7)

153.93804002589985

3. Write a Python program to find the largest element in a list. Donot usethe max method for this question. E.g in the list [43,21,53,16,13,31,22], 53 is the highest.

In [ ]:
nums = [43,21,53,16,13,31,22]
count = 0
for num in nums:
  if num > count:
    count = num
print(count)

53

4. Write a Python program to find the smallest element in a list. Donot
use the min method for this question. E.g in thelist
[43,21,53,16,13,31,22], 13 is the highest.

In [ ]:
nums = [43,21,53,16,13,31,22]
count = nums[0]
for num in nums:
  if num < count:
    count = num
print(count)

13

5. Write a Python program to check if a number is even

In [ ]:
number = int(input("Enter number: "))
if number % 2 == 0:
  print(" number is Even")
else:
  print("Number is Odd")

Enter number: 7
Number is Odd

6. A = [‘shola’, ‘susan’, ‘bolu’,’tola’,’wunmi’, ‘aishat’,’fatimah’,’grace’]
B = [‘peter’,’paul’,’fatimah’,’wunmi’, ,’yomi’, ‘aishat’]
Write a Python program to find the common elements betweenthe two lists, put them in a new list called C and print themout.

In [ ]:
A = set(["shola", "susan", "bolu", "tola", "wunmi", "aishat", "fatimah", "grace"])
B = set(["peter","paul","fatimah","wunmi", "yomi", "aishat"])
C = A.intersection(B)
print(C)

{'wunmi', 'aishat', 'fatimah'}

7. Write a Python program to remove duplicates froma list. Donot useset as a shortcut, instead write a well detailed program. E.g we have a list A [1,4,2,6,2,7,2,8,5,3,4,5,3], ensure that we haveanewlist without the duplicates.

In [ ]:
A = [1,4,2,6,2,7,2,8,5,3,4,5,3]
B = []
for i in A:
  if i not in B:
    B.append(i)
print(B)

[1, 4, 2, 6, 7, 8, 5, 3]

8. Write a Python program to find the list of words that are longer than4from a given list of words
E.g [‘shola’, ‘susan’, ‘bolu’,’tola’,’wunmi’, ‘aishat’,’fatimah’,’grace’]

In [ ]:
word_list = ["shola", "susan", "bolu","tola","wunmi", "aishat","fatimah","grace"]
for word in word_list:
  if len(word) > 4 :
    print(word)

shola
susan
wunmi
aishat
fatimah
grace

9. Using the random module, create a program that randomly guessesthe qualification of people froma list
[‘Msc’,’Bsc’,’Phd’,’B.Edu’,’B.Tech’,’B.doc’], remember to use thechoicemethod in random module.

**Lambda Function**

In [ ]:
sum = lambda a,b,c : a+b+c
print(sum(2,6,3)) #11

In [22]:
year = lambda ch : ch[:4]
ch = "20200310"
print(year(ch)) #2020

2020

Instructions :
Write a program that will take a number and returns its double using a lambda function.
Hint: you will need to use the lambda function to perform the multiplication operation.

In [26]:
double =lambda num: num*num
print(double(2))

4

**The map function :**

In [28]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x*x, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

Instructions :
Write a program that will take a list of temperatures in Celsius and convert them to Fahrenheit using the formula: F = (9/5)C + 32
Hint: you will need to use the map() function and the lambda function to perform the conversion.

In [40]:
tem = [90,60, 10, 20]
convert_to_fah = map(lambda cel: (9/5) * cel + 32, tem)
print(list(convert_to_fah))

[194.0, 140.0, 50.0, 68.0]

In [4]:
#Creating four basic mathematical functions
def add(num1,num2):
  sum_nums = num1 + num2
  return sum_nums

def subtract(num1, num2):
  dif = num1 - num2
  return dif

def multiply(num1, num2):
  mul = num1 * num2
  return mul

def divide(num1, num2):
  div = num1 / num2
  return div

# Creating a dictionary called operations
operations = {"add": add, "subtract" : subtract, "multiply" : multiply, "divide" : divide}


# function to get user first & second input
def get_user_input():
  first_input = float(input('Input first number'))
  second_input = float(input('Input second number'))
  return first_input, second_input


# looping throug the operations dictionary to diplace all operation
print('Below are the available operations')
for key in operations:
  print(key)

while True:
  operation_type = input("What would you like to do? 'add', 'subtract', 'multiply', 'divide' or 'exit' to quit")
  if operation_type == 'exit':
    print('Ending...')
    break
  elif operation_type in operations:
    user_nums = get_user_input()
    result = operations[operation_type](*user_nums)
    print(f" The Result of {operation_type}  is {result}")
  else:
    print('Invalid input')

Below are the available operations
add
subtract
multiply
divide
What would you like to do? 'add', 'subtract', 'multiply', 'divide' or 'exit' to quitadd
Input first number7
Input second number10
 The Result of add  is 17.0
What would you like to do? 'add', 'subtract', 'multiply', 'divide' or 'exit' to quitExit
Invalid input
What would you like to do? 'add', 'subtract', 'multiply', 'divide' or 'exit' to quitexit
Ending...

**Create our own class :**

Create our own class :

In [3]:
class Player:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.hp = 100
  def run(self):
    print(f"{self.name} is running in the game.")
  def take_damage(self, damage):
    return self.hp - damage
  def speak(self):
        print(f"My name is {self.name} and I am {self.age} years old.")

In [6]:
Player_one = Player("Harry Potter",30)
Player_two = Player ("Lord Voldemort",18)
print(Player_one.name)
print(Player_two.name)
print(Player_one.run())
print(Player_two.run())
print(Player_one.take_damage(20))
player1 = Player("John", 25)
player1.run() # Output: "John is running in the game."
player1.speak() # Output: "My name is John and I am 25 years old."

Harry Potter
Lord Voldemort
Harry Potter is running in the game.
None
Lord Voldemort is running in the game.
None
80
John is running in the game.
My name is John and I am 25 years old.

In [9]:
# create a student class that takes in the name, age, color and state.
#The student class should have a method that prints the attributes together in  a statement.
# Add a method called checking_age that checks if the age is less than or greater than 18.
# If  it is greater or equal 18 print "You are allowed to enter " else if it is less than 18, print "You are underaged"
class Student:
  def __init__(self, name, age, state, color):
    self.name = name
    self.age = age
    self.color = color
    self.state = state
  def print_info(self):
    print(f" My name is {self.name}, i am {self.age}, i am from {self.state} and my favorite color is {self.color}")
  def checking_age(self):
    if self.age >= 18:
      print("You are allowed to enter")
    else:
      print("You are underaged")

In [12]:
student1 = Student("Femi", 10, "lagos", "Blue")
student1.checking_age()

You are underaged

In [4]:
# 1. Write a Python class named Point3D defined by x, y, and z. Define a method that returns (x, y ,z).
# This tells Python to represent this object in the following format: (x, y, z).
# Then create a variable named my_point containing a new instance of Point3D with x=1, y=2, and z=3 and print it.

class Point3D:
  def __init__(self,x, y, z):
    self.x = x
    self.y = y
    self.z = z
  def call_init(self):
    return self.x, self.y, self.z
my_point = Point3D(1,2,3)

print(my_point.call_init())

(1, 2, 3)

In [21]:
# 2. Write a Python class named Rectangle constructed by a length and width.
# Define two methods, area and perimeter, which will compute the area and the perimeter of the rectangle.
# Then create a variable named my_rectangle containing a new instance of Rectangle with width=3 and length = 4
# and compute both area and perimeter ( the area is expected to be 3*4=12 and perimeter 2*(3+4)=14).

class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    area = self.length * self.width
    return area
  def perimeter(self):
    perimeter = (2*self.length) + (2*self.width)
    return perimeter
  def AandP(self):
    print(f"The area of a Rectangle is: {self.area()} and the perimeter is {self.perimeter()}")

In [22]:
my_rectangle = Rectangle(4, 3)

In [23]:
my_rectangle.AandP()

The area of a Rectangle is: 12 and the perimeter is 14

In [24]:
my_rectangle.perimeter()

14

In [25]:
# Develop a simplified social media platform using classes.
# Design methods for users to posts and comments,  view their posts or comments.
# These users can also try to view the posts and comments of everyone that has used the code.
# Make sure to use list, dictionaries
class Instagram:
  def __init__(self, name):
    self.name = name

  def post(self):
    user_post = input("Type something to post on your page")
    self.view_posts.append(user_post)
    return user_post
  def comment(self):
    user_comment = input("Comment on post")
    self.view_user_comment.append(user_comment)
    return user_comment
  def view_posts(self):
    view_user_post = []
    return view_user_post
  def view_comments(self):
    view_user_comment = []
    return view_user_comment
  def posts_and_comments(self):
    posts = {'posts': view_posts, 'comment': view_user_comment}
    return posts

In [1]:
#Building A Todo list

# Initialize an empty task list
tasks = []

# Function to add a task
def add_task():
    task = input("Enter a task: ")
    tasks.append(task)
    print("Task added successfully!")

# Function to display tasks
def display_tasks():
    if not tasks:
        print("No tasks found.")
    else:
        print("Tasks:")
        for index, task in enumerate(tasks, start=1):
            print(f"{index}. {task}")

# Function to mark a task as complete
def complete_task():
    display_tasks()
    index = int(input("Enter the task number to mark as complete: ")) - 1
    if 0 <= index < len(tasks):
        tasks[index] += " (Completed)"
        print("Task marked as complete!")
    else:
        print("Invalid task number.")

# Function to delete a task
def delete_task():
    display_tasks()
    index = int(input("Enter the task number to delete: ")) - 1
    if 0 <= index < len(tasks):
        del tasks[index]
        print("Task deleted successfully!")
    else:
        print("Invalid task number.")

# Main loop for interacting with the user
while True:
    print("\nOptions:")
    print("1. Add Task")
    print("2. Display Tasks")
    print("3. Mark Task as Complete")
    print("4. Delete Task")
    print("5. Exit")

    choice = input("Enter your choice: ")

    if choice == '1':
        add_task()
    elif choice == '2':
        display_tasks()
    elif choice == '3':
        complete_task()
    elif choice == '4':
        delete_task()
    elif choice == '5':
        print("Exiting program. Goodbye!")
        break
    else:
        print("Invalid choice. Please try again.")

Options:
1. Add Task
2. Display Tasks
3. Mark Task as Complete
4. Delete Task
5. Exit
Enter your choice: Add Task
Invalid choice. Please try again.

Options:
1. Add Task
2. Display Tasks
3. Mark Task as Complete
4. Delete Task
5. Exit
Enter your choice: Add Task
Invalid choice. Please try again.

Options:
1. Add Task
2. Display Tasks
3. Mark Task as Complete
4. Delete Task
5. Exit
Enter your choice: Exit
Invalid choice. Please try again.

Options:
1. Add Task
2. Display Tasks
3. Mark Task as Complete
4. Delete Task
5. Exit

KeyboardInterrupt: Interrupted by user